
@{
    ViewBag.Title = "CG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section>
        <div>
            <h4 class="highlight4">Overview:</h4>
            <p>
                The goals of this community are to assist IT professionals network and promote events and projects, to help maintain friendships and connections formed while students, to build strong and mutually beneficial ties between all alumni, to promote goodwill in the community and to stimulate interest and enhance involvement with our institution through increased opportunities for engagement.
                In order to meet the goals of this community, it’s important for members to feel like they are in a safe place that is populated by people with shared interests. As such, we request that you read and adhere to the guidelines that follow.
            </p>
        </div>
        <article>
            <h4 class="highlight4">Guidelines:</h4>
            <p>
                - Treat others online as you would treat them in real life <br />
                - Be tolerant towards other’s viewpoints; respectfully disagree when opinions do not align<br />
                - Respect the privacy and personal information of other alumni<br />
                - Communicate with courtesy and respect<br />
                <br/>
                Please <strong>do not</strong>:
                - Make personal attacks on other community members<br />
                - Use defamatory remarks or make false statements against others<br />
                - Post prejudiced comments or profanity<br />
                - Bully or make inflammatory remarks to other community members<br />
                - Discriminate against any one individual or group <br/>
                - Use any sort of hate speach (no, sarcasm is not hate speach)<br/>
                <br />
                Please <strong>do</strong>:
                - Inviting local area pros to a networking event or to join a project<br />
                - Helping to coordinate a meetup or similar event<br />
                - Reaching out to individual users for advice, to reconnect or to join a group<br />
                - Use caution when posting personal information.<br />
                This information includes names, mailing addresses, phone numbers, email addresses, social media accounts, student information, employment information for any commercial, advocacy, promotional, or political purpose is prohibited. <br />
                Prohibited activities include solicitations for business or personal services, fundraising, cold-calling of any kind, mass-mailings, or broadcast e-mails.
                <br />
                <br />
                <h4 class="highlight3">Consequences:</h4>               
                We will take action when we see someone violating these guidelines. Sometimes that just means giving someone a warning; other times it means revoking certain privileges or accounts entirely. We request that all community members report behavior that violates our guidelines.
            </p>
        </article>
        <div>
            <h4 class="highlight2">Agreement:</h4>
            By logging onto the community and activating your profile, you are considered to be in agreement with the terms and conditions listed above.
        </div>
    </section>