@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section>
    <strong>Questions? Comments? Concerns?</strong>
    <p>
        We can probably help with that.
    </p>
</section>
<address>
    B Team Technologies<br />
    Traverse City, MI 49686<br />
    <abbr title="Phone">P:</abbr>
    231.555.1234
</address>

<address>
    <p>More information and support <a href="https://bteam.tech/">here</a></p><br/>
    @*<strong>Support:</strong>   <a href="">support@socialnet.com</a><br />
    <strong>Marketing:</strong> <a href="">marketing@socialnet.com</a>*@
</address>