@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:floralwhite;">SocialNet</h1>
</div>

<section class="centered">
    <div class="row">
        <div>
            <h2>Integrated, Efficient, and Easy To Use</h2>
            <p>
                SocialNet offers a new way to create and develop your projects using a simple and centralized web interface. <br />
                Share events in your area and attend events other users have posted.
            </p>
        </div>
        <br />
        <div>
            <img src="~/Content/eng3.jpg"
                 style="width:100%;border:5px #ba0847 groove;padding:10px;margin-top:20px; width:27%;" />
            <img src="~/Content/eng1.jpg"
                 style="width:100%;border:5px #ba0847 groove;padding:10px;margin-top:20px; width:30%;" />
            <img src="~/Content/eng2.jpg"
                 style="width:100%;border:5px #ba0847 groove;padding:10px;margin-top:20px; width:30%;" />
        </div>
        <div>
            <h2>Gain Experience</h2>
            <p>
                SocialNet offers event and project posting capabilities and gives the opportunity to network with other
                information technology students and professionals in your area.
            </p>
            <p><image source="..\Content\eng1.jpg" /></p>
        </div>
    </div>
    <div style="float: left;" class="highlight5">
        <h3>Have we got your attention?</h3>
        <a href="~/Home/About">Learn more</a>
    </div>
    <div style="float: right;" class="highlight5">
        <h3>Returning user?</h3>
        <a href="~/Account/Login">Login</a>
    </div>
</section>
<br /><br /><br /><br />