
@{
    ViewBag.Title = "LoggedIn";
}

<h2>LoggedIn</h2>

@if (Session["UserId"] != null)
{
<section>
    <p>Hello @Session["Username"].ToString()</p>
    <p>
        Welcome back! We've been working hard on this app and are glad to see your return. <br />
        Check out the Project and Event pages to see what you missed and link up with other techies in your area!
    </p>
</section>
}